<div id="network">
	<%= link_to_remote @subnet.network, :url => { :action => 'hide_subnet' } %>
</div>
<div id="subnet">
	<% for static_ip in @static_ips %>
	  <div id="iplist">
	    <div id="status">
	    	<%= format_available_status(static_ip.available) %> |
			<%= format_online_status(static_ip.online) %> 		
		</div>
		<div id="address">
			<%= link_to static_ip.address, edit_subnet_static_ip_path(@subnet.id, static_ip.id) %> | 
	    	<%=h static_ip.outside_ip%>
		</div>
		<div id="servername"><em><%=h format_AD_member_server(static_ip.servername) %></em></div>
		<div id="description"><%=h static_ip.description %></p></div>
	  </div><hr />
	<% end %>
</div>
<br />
